@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --bluefoncer: #23364B;
    --bleu: #2987C5;
    --bleuclaire: #547787;
    --blancargent: #9AAAB7;
    --orange: #F36428;
    --bleuvert: #365670;
    --blanc: #CCC;
    --blancpur: #FFF;
}

*{
    margin: 0;
    padding: 0;
}

body{
   display: flex;
   justify-content: center;
}

.navbar{
    width: 90vw;
    height: auto;
    margin-top: 1vh;
    display: flex;
    flex-flow: row wrap;
    background-color: var(--bluefoncer);
}

.allMenu{
    padding: 1.2vw 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--blancpur);
}

.allMenu:hover, .left:hover, .rigth:hover, .nil:hover{
    background-color: var(--orange);
}

/* ----- style menu SOUS-MENU ------ */
.subMenu{
    position: relative;
}
.subMenu-content{
    display: none;
    position: absolute;
    background-color: var(--bleuvert);
    top: 3.6vw;
    left: -0.1vw; 
}
.rigth-content{
    left: 15vw;
}
.left-content{
    right: 15vw;
}
.left-content, .rigth-content{
    display: none;
    position: absolute;
    width: 12vw; 
    background-color: var(--bleuclaire);
}

.btnrigth, .btnleft {
    width: 12vw;
    padding: 0.5vw 0vw;
}

.nil, .rigth, .left {
    width: auto;
    padding: 1.2vw 1.5vw;
    border-style: solid;
    border-color: var(--blancargent);
    border-width: 0.5px 1px 0.5px 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.rigth p, .left p {
    height: auto;
    width: auto;
    padding: 1.2vw 1.5vw;
    border-style: dashed;
    border-color: var(--blancargent);
    border-width: 0.5px 1px;
}

.rigth p:hover, .left p:hover{
    background-color: var(--blancargent);
}
/*---------- END ------------*/


/* -------- style IMAGE   -------*/
.image-block{
    display: none;
}
.image-content{
    width: 90vw;
    height: auto;
    position: absolute;
    top: 3.6vw;
    left: -60vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--bluefoncer);
}
.image-block img{
    margin: 1vw 0.5vw 1vw 0.5vw;
    width: 20vw;
    height: auto;
}

.image{
    position: relative; 
}

/*---------- END ------------*/

/*---------- style BLOG ------------*/

.blog-content{
    width: 90vw;
    height: auto;
    position: absolute;
    top: 3.6vw;
    left: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--bluefoncer);
}

.blog-block{
    display: none;
    width: 25vw;
    height: auto;
    font-size: 1vw;
    text-align: justify;
}

.blog-block img{
    margin: 1vw 0.5vw 1vw 0.5vw;
    width: 25vw;
    height: auto;
}

.btnMore{
    width: 8vw;
    margin: 1vw 0vw;
    padding: 0.2vw;
    background-color: var(--bleu);
}


.btnMore:hover{
    background-color: var(--orange);
}

/*---------- END ------------*/

.subMenu:hover .subMenu-content, .rigth:hover .rigth-content, .left:hover .left-content, image:hover .image-content, .image:hover .image-block, .blog:hover .blog-block{
    display: block;
}